<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <header th:fragment="header">
        <div class="header">
            <nav>
                <a href="" class="logo">Platform</a>
                <div class="nav-links">
                    <ul>
                        <li><a href="">Домой</a></li>
                        <li><a href="">Видео</a></li>
                        <li><a href="">Настройки</a></li>
                        <li><a href="">Группы</a></li>
                        <li><a href="">Кабинет</a></li>
                    </ul>
                </div>
            </nav>

            <div class="left-sidebar"></div>


        </div>
    </header>
</body>